<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jdjz.common">
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <application android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    </application>

</manifest>
